body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #000;
    color: #fff;
}

.hero {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #444;
}

.hero h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    opacity: 0.7;
}

.quote-section {
    background: linear-gradient(135deg, #111, #444, #111);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.quote-text {
    width: 50%;
    font-size: 28px;
    line-height: 1.5;
    font-style: italic;
}

.quote-image {
    width: 50%;
    text-align: center;
}

.quote-image img {
    width: 360px;
    height: 400px;
    border-radius: 6px;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease;
}

.quote-image img:hover {
    transform: scale(1.05);
}

.bio {
    padding: 70px 25px;
    max-width: 1000px;
    margin: auto;
    background: linear-gradient(180deg, #000, #111, #000);
}

.bio h2 {
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #f5f5f5;
    border-bottom: 2px solid #666;
    padding-bottom: 12px;
}

.bio p {
    font-size: 18.5px;
    line-height: 1.9;
    margin-bottom: 22px;
    text-align: justify;
    color: #dcdcdc;
    animation: fadeUp 0.9s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    opacity: 0.6;
    border-top: 1px solid #444;
}

@media(max-width:930px){
    .quote-image img {
        width: 300px;
        height: 340px;
        margin-top: 20px;
    }
}

@media(max-width:768px) {
    .quote-section {
        flex-direction: column;
        text-align: center;
    }

    .quote-text,
    .quote-image {
        width: 100%;
    }

    .quote-image img {
        width: 260px;
        height: 300px;
        margin-top: 20px;
    }
}